.about
  padding: 50px 0
  position: relative
  background-color: var(--yellow)

.about__wrapper
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: center

.about__left
  margin-left: 100px

.about__heading
  background-color: var(--white)
  display: inline
  font-weight: var(--semibold)
  font-size: clamp(1.563rem, 1.328rem + 1.17vw, 2.5rem)
